<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023. Está classe está sendo consedida para uso pessoal
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BookCatalogApp"
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.RegistryActivity"
            android:label="@string/title_activity_tela_cadastrar"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>

        <activity
            android:name=".views.activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tela_pesquisar"
            android:parentActivityName=".views.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>

        <activity
            android:name=".views.activities.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".views.activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>

    </application>

</manifest>